In [1]:
import pandas as pd
from parser import parallel_parse, extend_data

In [2]:
df = pd.read_csv('test_data.csv')
df.role = df.role.map({'manager':'client','client':'manager'})

results = parallel_parse(df)
results

[{'dlg_id': 3,
  'greet_and_bye': True,
  'greeting_row': 250,
  'greeting_text': 'добрый день',
  'introduce_row': 251,
  'introduce_text': 'меня максим зовут',
  'manager_name': 'максим',
  'company_row': 251,
  'company_name': 'китобизнес',
  'bye_row': 300,
  'bye_text': 'всего доброго'},
 {'dlg_id': 1,
  'greet_and_bye': True,
  'greeting_row': 110,
  'greeting_text': 'здравствуйте',
  'introduce_row': 111,
  'introduce_text': 'меня зовут ангелина',
  'manager_name': 'ангелина',
  'company_row': 111,
  'company_name': 'диджитал бизнес',
  'bye_row': 163,
  'bye_text': 'до свидания'},
 {'dlg_id': 5,
  'greet_and_bye': False,
  'introduce_row': 338,
  'introduce_text': 'это анастасия',
  'manager_name': 'анастасия',
  'bye_row': 479,
  'bye_text': 'до свидания хорошего вечера'},
 {'dlg_id': 0,
  'greet_and_bye': True,
  'greeting_row': 1,
  'greeting_text': 'здравствуйте',
  'introduce_row': 3,
  'introduce_text': 'меня зовут ангелина',
  'manager_name': 'ангелина',
  'company_row': 3,
  'company_name': 'диджитал бизнес',
  'bye_row': 108,
  'bye_text': 'всего хорошего до свидания'},
 {'dlg_id': 2,
  'greet_and_bye': False,
  'greeting_row': 166,
  'greeting_text': 'здравствуйте',
  'introduce_row': 167,
  'introduce_text': 'меня зовут ангелина',
  'manager_name': 'ангелина',
  'company_row': 167,
  'company_name': 'диджитал бизнес'},
 {'dlg_id': 4,
  'greet_and_bye': False,
  'bye_row': 335,
  'bye_text': 'до вторника до свидания'}]

In [3]:
ext_df = extend_data(df, results).fillna('')
ext_df[:5]

,dlg_id,line_n,role,text,greeting,manager,company,bye
0,0,0,client,Алло,,,,
1,0,1,manager,Алло здравствуйте,здравствуйте,,,
2,0,2,client,Добрый день,,,,
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...,,ангелина,диджитал бизнес,
4,0,4,client,Ага,,,,